
$component-name: product-miniature;

.#{$component-name} {
  //padding: 10px; // @DS2026 needs adjusting for responsive
  //.card {
  //  height: 306px;
  //  &:hover {
  //    filter: none;
  //  }
  //}
  //.#{$component-name}__top {
  //  border-radius: 0;
  //}
  .#{$component-name}__image-link {
    position: relative;
    .thumbnail-overlay {
      //@extend .card;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      &:hover {
        opacity: 1;
        background-color: rgba(153, 102, 153, .3);
      }
      .thumbnail-overlay-text {
        text-align: center;
        font-size: 1.2em;
        font-weight: 700;
        color: var(--bs-light);
        background-color: rgba(var(--bs-dark-rgb), 0.5);
        backdrop-filter: blur(10px);
        padding: 0.5em;
      }
      //div.#{$component-name}__title {
      //}
      //div.#{$component-name}__price {
      //}
    }
  }

  @media (hover: hover) {
    &__inner {
      &:hover {
        box-shadow: none;

        .#{$component-name}__image {
          transform: none;
        }
      }
    }
  }

  //& &__link {
  //  &:hover {
  //    .#{$component-name}__image {
  //      transform: none;
  //    }
  //  }
  //  .#{$component-name}__infos {
  //    background-color: red;
  //    & a p {
  //      background-color: violet;
  //    }
  //  }
  //}
}
