//.header-top-desktop {
//  background: black;
//  color: white;
//
//  .form-select, a:not(.dropdown-item):not(.ntn), #desktop_cart, .header-block__action-btn, .header-block__badge {
//    @extend .header-top-desktop;
//  }
//}

/*
  Wholesale button
 */
a.btn-ok {
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 500;
  background-color: black;
  color: #fff !important;
  &:visited {
    color: #fff;
  }
  &:hover {
    background-color: #9d639d !important;
    color: #ffc !important;
    text-decoration: none;
  }
}

.footer-block__title {
  text-transform: uppercase;
}
#footer_title_ok.footer-block__title {
  text-transform: none;
}

/*
  Uniform padding around text in slider
 */
.ps-imageslider {
  .carousel-item {
    h2 {
      margin-bottom: 0;
    }
  }
}

/*
  Remove left padding (we don't use the icon inside the input)
 */
.ps-searchbar__input {
  padding-inline: 0.5em;
}

/*
  CMS pages
 */
.page-content--cms {
  //padding: 1.25rem;
  text-align: justify;
  background: $white;

  .cms-box {
    img {
      //max-width: 100%;
    }
  }

  ul {
    @extend p;
    list-style: disc inside none;
  }

  td {
    img {
      padding: 0.5rem;
    }
  }
  td.cms-text {
    width: 70%;
  }
}
